/* bloque del contenido */
.main {
  @extend .flexGrid;
  @include flexProperties(center, flex-start);
  margin: 0px;
  height: 80vh; 
  @include images('./../assets/computer2.jpg');
 
  &__title {
    margin: 0px 80px;
    color: $textSecondary;
    @extend .containerWidth;
  }

  &__text {
    margin: 0px 80px;
    color: $textSecondary;
    @extend .containerWidth;
  }
}

/* media queries */

@media (max-width: 1200px) {
  .main {
    padding: 80px 10px;
  }
}

@media (max-width: 768px) {
  .main {
    margin: 0px 0px;
    padding: 80px 10px;
    height: 100vh;

    &__title {
      margin: 0px 40px;
    }

    &__text {
      margin: 0px 40px;
    }
  }
}

@media (max-width: 320px) {
  .main {
    margin: 0px;
    // padding: 0 10px;

    &__title {
      margin: 0px 10px;
    }

    &__text {
      margin: 0px 10px;
    }
  }
}
